.app-container {
    width: 100vw !important;
    height: 100vw !important;
    background-color: #0a1631 !important;
}

.app-bar {
    background-color: transparent !important;
    width: 80% !important;
    margin: 30px 10% 0 !important;
}

.app-content {
    padding-top: 84px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}